*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    box-sizing: inherit;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    height: 10vh;
}

#left{
    display: flex;
    padding: .3em;
    justify-content: space-between;
    align-items: center;
}

#right{
    display: flex;
    padding: .3em;
    justify-content: space-between;
    align-items: center;
}

.container iframe{
    height: 90vh;
}

@media only screen and (max-height : 320px) {
    #logo{
        max-width: 25px;
    }
    .heart{
        max-width: 15px;
        cursor: pointer;
    }
    #arrow{
        max-width: 15px;
        max-height: 15px;
        margin-left: 1em;
        cursor: pointer;
    }  
}

@media only screen and (min-height : 321px) {
    #logo{
        max-width: 40px;
    }
    .heart{
        max-width: 15px;
        cursor: pointer;
        margin: 0 3px;
    }
    #arrow{
        max-width: 15px;
        max-height: 15px;
        margin-left: 1em;
        cursor: pointer;
    }  
}

@media only screen and (min-height : 480px) {
    #logo{
        max-width: 50px;
    }
    .heart{
        max-width: 25px;
        cursor: pointer;
    }
    #arrow{
        max-width: 25px;
        max-height: 25px;
        margin-left: 1em;
        cursor: pointer;
    }  
}

@media only screen and (min-height : 768px) {
    header{
        height: 80px;
    }
    #logo{
        max-width: 70px;
    }
    .heart{
        max-width: 35px;
        cursor: pointer;
    }
    #arrow{
        max-width: 35px;
        max-height: 35px;
        margin-left: 1em;
        cursor: pointer;
    }  
}

